.tools
/ == partial "partials/module/ad/half_banner"
/ h2 Page Title
/ .module.tools
/   .wrapper
/     h2 Page Title
/     == link_to data.settings.adverbs.choice
/     '
/     == link_to data.settings.adjectives.choice
/     '
/     == link_to data.settings.nouns.choice
/     '
/     == link_to data.settings.names.choice