
// WebMD HZ/SAS 2.0 Colors

// http://webservices.webmd.net/wswiki/Building%20a%20second-generation%20HZ.ashx?HL=health,zone

$lime: #89A908;
$cranberry: #923E4B;
$violet: #4C598D;
$desert: #875433;
$seablue: #11635E;

// Do not use
$orange: #F63;
$gold: #c90;