@import "compass/css3";
@import 'partials/h5mbp';
@import 'partials/hzcolors';

body {
background-color: #fff;
text-align:center;
}

#page {
// background-color: rgba(255,255,255,0.9);
background-color: #fff;
border: 1px solid #ccc;
@include border-radius(10px);
@include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(lime, 0.2) 0 0 3px 1px inset);
width: 990px;
min-height: 300px;
margin: 20px auto;
position: relative;
div {
border: 1px solid #333;
vertical-align: top;

}

#ContentPane1 {
// Main Navigation -----------------
width: 100%;
nav, .main-nav {
display:none;
}
}
#ContentPane2 {
// Logo / Search / Login -----------------
width: 100%;
}
#ContentPane3 {
// Main Heading -----------------
color:$lime;
text-align: left;
padding-left: 10px;
}
#ContentPane4 {
// Main Promo -----------------
text-align: left;
margin-left: 10px;
float: left;
}
#ContentPane5 {
// Poll -----------------
margin-left: 10px;
float: right;
}
#ContentPane6 {
// Related Content -----------------
margin-left: 10px;
float: left;
}
#ContentPane7 {
// More Resources -----------------
margin-left: 10px;
float: left;
width: 323px;
}
#ContentPane8 {
// Empty -----------------
}
#ContentPane9 {
// Right Ad -----------------
float: right;
}

#ContentPane10 {
// footer -----------------
clear:both;
height: 150px;
width: 100%;
border: 1px solid #fff;
&:after{
content: 'Footer';
}
}
}




/*
* Media queries for responsive design github.com/h5bp/mobile-boilerplate/wiki/The-Style
*/


/* Styles for desktop and large screen ----------- */

/*styles for 800px and up!*/
@media only screen and (max-width: 796px) {

#top-ad img {
width: 100%;
}
#page {
width: 100%;
margin: 0 auto;
#ContentPane1 {
// main nav
nav, .main-nav {display:block;}
img {
display:none;
}
}

#ContentPane2 {
// Logo and Search ---
float: left;
width: 100%;
img:last-child {
display:none;
}
}

#ContentPane4 {
// Promo Module
margin: 0 auto;
float: none;
img {
width: 100%;
}

}


}

}/*/mediaquery*/


/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
/* Styles */
}

